<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.cyberpay_android">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:supportsRtl="true"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".ui.CardPinActivity"/>
        <activity
            android:name=".ui.MakePaymentActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.CyberpayPaymentSelectionActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.OtpActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.OtpBankActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.CyberPayActivty"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.BankAccountActivity"
            android:screenOrientation="portrait" />
    </application>

</manifest>